{
  "importOrder": [
    "<TYPES>",
    "<TYPES>^[.]",
    "react",
    "<THIRD_PARTY_MODULES>",
    "^app(/.*)$",
    "^pages(/.*)$",
    "^widgets(/.*)$",
    "^features(/.*)$",
    "^entities(/.*)$",
    "^shared(/.*)$",
    "/css",
    "(?<!.module).scss",
    ".module.scss"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-css-order"],
  "cssDeclarationSorterOrder": "smacss",
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "singleQuote": true
}
