@use 'shared/styles' as *;

.ButtonSidebar {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-image: url('/svg/button-sidebar.svg');
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  @include effect-hover-background;
  @include effect-focus-outline;
  @include media-tablet {
    width: 55px;
    height: 56px;
    background-size: 24px;
  }

  &_Active {
    background-image: url('/svg/button-sidebar-active.svg');
  }
}
