@use 'shared/styles' as *;

.MenuItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  @include effect-hover-background;
  @include effect-focus-outline;

  &__Arrow {
    @include styles-button-mini(16px, 16px, '/svg/menu-item-arrow.svg');
  }

  &__Title {
    overflow: hidden;
    color: $textDefault;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include font-main-regular(14px, 143%);
  }
}
