@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/OpenSans-Regular.woff2') format('woff2');
  font-family: 'Open Sans';
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-family: 'Open Sans';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
  font-family: 'Montserrat';
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-family: 'Montserrat';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-family: 'Inter';
}
