// Fonts
$mainFamily: 'Open Sans', sans-serif;
$secondFamily: 'Montserrat', sans-serif;
$thirdFamily: 'Inter', sans-serif;

// Time
$timeHover: 200ms;
$timeTranslateSidebar: 500ms;
$timeModal: 300ms;

// Colors
$textDefault: #2e3238;
$textGray: #5c6470;
$textWhite: #fff;
$textPlaceholder: #abb1ba;
$borderDefault: #d5d8dd;
$borderLightBlue: #99d5ff;
$backgroundHover: #f5f5f5;
$backgroundBadge: #e5f4ff;
$backgroundBlue: #0078cf;
$backgroundField: #fcfcfd;
$backgroundWhite: #fff;
