@use 'shared/styles' as *;

.Badge {
  display: inline-flex;
  align-items: center;
  max-width: max-content;
  min-height: 24px;
  padding: 0px 7px;
  overflow: hidden;
  gap: 9px;
  background-color: $backgroundBadge;
  @include styles-border-light-blue;

  &__Title {
    flex-shrink: 1;
    overflow: hidden;
    color: $textDefault;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    @include font-main-regular(14px, 143%);
  }
}
